# em2 can be installed via setup.py however it has strict requirements and should never be expected to
# hang out with other packages with conflicting requirements. Therefore all requirements are strict
# they're kept in a separate file to keep things explicit and to work with pyup

aiodns==1.1.1
aioredis==0.3.1
async-timeout==1.2.1
arq==0.8.1
msgpack-python==0.4.8
pycrypto==2.6.1
pydantic==0.1.0

# optionally used in logging
raven==6.1.0

# aiohttp
aiohttp==2.1.0
cchardet==2.1.0
uvloop==0.8.0

# sessions
cryptography==1.9.0

# postgres
asyncpg==0.11.0
