# this should install everything you need for development or testing, you might also want to install "ipython"
-r em2/extras/requirements1.txt
-r em2/extras/requirements2.txt
-r tests/requirements.txt
