# required for codecov, moved into root by .travis.yml

[run]
source = em2
branch = True
concurrency = multiprocessing
parallel = False
omit =
    em2/worker.py
    em2/run/*

[report]
precision = 2
exclude_lines =
    pragma: no cover

    raise NotImplementedError
    raise NotImplemented
