# em2 can be installed via setup.py however it has strict requirements and should never be expected to
# hang out with other packages with conflicting requirements. Therefore all requirements are strict
# they're kept in a separate file to keep things explicit and to work with pyup
aiodns==1.1.1
aioredis==0.3.0
arq==0.2.0
Cerberus==1.0.1
msgpack-python==0.4.8
pycrypto==2.6.1
pytz==2016.10

# aiohttp
aiohttp==1.3.1
cchardet==1.1.2

# postgres
SQLAlchemy==1.1.4
aiopg==0.13.0
psycopg2==2.6.2
